@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
      font-family: 'Poppins', sans-serif;
      margin: 0;
      padding: 0;
}

body{
      min-height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: black;
}
h1{
      font-size: 150px; 
      background: linear-gradient(to bottom right ,#5C6CFF,#DF5CFF,#FFB25C,#5CA3FF,#D655FF);
      background-size: 400%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent ;
      transition: 0.5s ease;
      animation: animation 5s ease infinite;
}
@keyframes animation{
      0%,50%,100%{
            background-size: 400%;
      }
      25%,75%{
            background-size: 100%;
      }
}